/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/montserrat-v18-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/montserrat-v18-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/montserrat-v18-latin-regular.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-v18-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/montserrat-v18-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/montserrat-v18-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}


html {
  font-family: Montserrat;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009639;
  --ifm-color-primary-dark: #0d1117;
  --ifm-color-primary-darker: #161b22;
  --ifm-color-primary-darkest: #0d1117;
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
